{
  "identities": [
    {
      "name": "admin",
      "credentials": [
        {
          "accessKey": "{{ s3_admin_access_key }}",
          "secretKey": "{{ s3_admin_secret_key }}",
          "actions": ["Admin", "Read", "Write"]
        }
      ]
    },
    {
      "name": "readonly",
      "credentials": [
        {
          "accessKey": "{{ s3_readonly_access_key }}",
          "secretKey": "{{ s3_readonly_secret_key }}",
          "actions": ["Read"]
        }
      ]
    },
    {
      "name": "writeonly",
      "credentials": [
        {
          "accessKey": "{{ s3_writeonly_access_key }}",
          "secretKey": "{{ s3_writeonly_secret_key }}",
          "actions": ["Write"]
        }
      ]
    }
  ]
}
