[Unit]
Description=SeaweedFS Filer
Documentation=https://github.com/seaweedfs/seaweedfs
After=network.target

[Service]
Type=simple
User={{ seaweedfs_user }}
Group={{ seaweedfs_group }}
ExecStart={{ seaweedfs_home }}/weed filer \
  -port={{ filer_port }} \
  -ip={{ ansible_host }} \
  -master={{ master_peers }} \
  -defaultStoreDir={{ data_dir }}/filer \
  -s3 \
  -s3.config={{ s3_config_path }} \
  -s3.port={{ s3_port }} \
{% if tls_enabled %}
  -certFile={{ tls_cert_path }} \
  -keyFile={{ tls_key_path }} \
{% endif %}
  -jwtSigningKey={{ jwt_signing_key }} \
  -jwtReadSigningKey={{ jwt_read_signing_key }} \
  -jwtWriteSigningKey={{ jwt_write_signing_key }}
Restart=always
RestartSec=5
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
